*{
  margin: 0px;
}

body {
  background-color: white;
}

.app_header {
  flex: 1 1 auto;
  height: 80px;
  background-color: white;
  justify-content: center;
  padding: 12px 4px 4px 16px;
  box-sizing: border-box;
  align-items: center;
}

.app_body {
  background-color: white;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 4px;
}