

.header_wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: white;
    color: black;
    margin: 0px;
}

.header_search {
    flex: 1;
}

.header_searchContainer {
    background-color: #efefef;
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    border-radius: 50px;
    border: none;
    padding-left: 12px;

}

.header_searchContainer > form {
    display: flex;
    flex: 1;
}

.header_searchContainer > form > input {
    flex: 1;
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 0 4px;
    font-size: 16px;
}

.header_searchContainer > form >input:focus {
    outline: none;
}
.header_searchContainer > form >input:active {
    outline: none;
}
.header_searchContainer > form >input:hover {
    outline: none;
}

.header_searchContainer > form > button {
    display: none;
}